.header,.footer{
	height: 100vh;
	text-align: center;
	color: white;
	line-height: 100vh;
	background:  center;
	background-image: url("../img/background/09.jpg");
	background-size: cover;
}

.header{
	background-image: url("../img/background/00.jpg");
}
.header{
	background-image: url("../img/background/01.jpg");
}
.header{
	background-image: url("../img/background/02.jpg");
}
.header{
	background-image: url("../img/background/03.jpg");
}
.header{
	background-image: url("../img/background/04.jpg");
}
.header{
	background-image: url("../img/background/05.jpg");
}
.header{
	background-image: url("../img/background/06.jpg");
}
.header{
	background-image: url("../img/background/07.jpg");
}
.header{
	background-image: url("../img/background/08.jpg");
}

/*背景图片*/
.backGround{
	width: 100vw;
	height: 100vh;
	/* background-color: rgba(0, 255, 255,0.5); */
}

.header-choose{
	padding-top: 40px;
	width: 500px;
	height: 40px;
	line-height: 80px;
	float: right;
}

.menu{
	width: 90px;
	height: 35px;
	float: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: inherit;
	padding-top: 5px;
	border-radius: 5px;
}

.menu:hover{
	background-color: rgba(255, 0, 0, 0.5);
}

.menu-exterior-gap{
	width: 20px;
	height: 30px;
	float: left;
}

.menu-interior-gap{
	width: 5px;
	height: 30px;
	float: left;
}

.menu-icon{
	float: left;
	width: 30px;
	height: 30px;
	background-size: 30px;
}

.menu-name{
	float: left;
	width: 50px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
}

.header-text{
	padding-top: 200px;
}

.header-title{
	height: 50px;
	width: 100vw;
	font-size: 40px;
	line-height: 50px;
}

.header-motto{
	width: 100vw;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-button{
	padding-top: 100px;
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: center;
}
.button-all{
	width: 120px;
	padding-top: 10px;
	height: 40px;
	border-radius: 40px;
	background-color: rgba(68, 68, 68, 0.5);
	border-style: solid;
	float: left;
}

.button-exterior-gap{
	width: 40px;
	height: 30px;
	float: left;
}

.button-interior-gap{
	width: 10px;
	height: 30px;
	float: left;
}

.button-icon{
	width: 30px;
	height: 30px;
	background-size: 30px;
	float: left;
}

.button-text{
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: left;
}

.button-all:hover{
	background-color: rgba(234, 0, 255, 0.5);
}
/* 应用于电脑 */
@media screen and (min-width: 768px) {
	
	
}
  
/* 应用于手机 */
@media screen and (max-width: 767px) {
	body {
	  font-size: 14px;
	}
}

body::-webkit-scrollbar {
	margin: 0px;
	padding: 0px;
  	display: none;
}
/* 隐藏 IE、Edge 和 Firefox 的滚动条 */
body {
	margin: 0px;
	padding: 0px;
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
	cursor: url('../img/mousePointer/normal.cur'),default;
}