
.header{
	height: 100vh;
	text-align: center;
	color: white;
	line-height: 100vh;
	background:  center;
	background-size: cover;
}

/* background-color: rgba(0, 255, 255,0.5); */
.background{
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.2);
}

.header-time{
	float: right;
	width: 280px;
	height: 40px;
	line-height: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;  /* 使用了 字体阴影，然后把字体颜色调成背景颜色，就是空心字了*/
	color: beige;
	font-size: 20px;
}

.header-choose{
	position: fixed;
	top: 40px;
	left: 5vw;
	height: 40px;
	line-height: 80px;
	width: 90vw;
}

.menu{
	width: 90px;
	height: 35px;
	float: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;  /* 使用了 字体阴影，然后把字体颜色调成背景颜色，就是空心字了*/
	color: beige;
	font-style: inherit;
	padding-top: 5px;
	border-radius: 10px;
}

.menu:hover{
	background-color: rgba(255, 0, 0, 0.5);
}

.menu-exterior-gap{
	width: 20px;
	height: 30px;
	float: left;
}

.menu-interior-gap{
	width: 5px;
	height: 30px;
	float: left;
}

.menu-icon{
	float: left;
	width: 30px;
	height: 30px;
	background-size: 30px;
}

.menu-name{
	float: left;
	width: 50px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* 正常浏览器 */
}

.list{
	border-radius: 10px;
	height: 50px;
    width: 100px;
    position:relative;
	float: left;
}

.list:hover{
	.menu-list{
		display: block;
		animation-name: froms;
		animation-duration: 1s;
	}
}

.menu-list{
	width: 90px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(255, 0, 255, 0.5);
	color: black;
    position:absolute;
    display: none;
	overflow: hidden;
	animation-name: backs;
	animation-duration: 1s;
}

@keyframes backs {
	from{
		height: 160px;
	}
	to{
		height: 0px;
	}
}

@keyframes froms {
	from{
		height: 0px;
	}
	to{
		height: 160px;
	}
	
}

.menu-list div{
	width: 90px;
	border-radius: 10px;
	line-height: 40px;
}

.menu-list div:hover{
	background-color: rgba(127, 0, 127, 0.5);
	display: block;
}

.header-text{
	padding-top: 200px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* 正常浏览器 */
}

.header-title{
	height: 80px;
	width: 100vw;
	font-size: 80px;
	line-height: 50px;
	text-shadow: 10px 10px 10px black;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* 正常浏览器 */
}

.header-motto{
	width: 100vw;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-shadow: 5px 5px 5px black, 0px 0px 2px black;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* 正常浏览器 */
}

.header-button{
	padding-top: 100px;
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: center;
}
.button-all{
	width: 120px;
	padding-top: 10px;
	height: 40px;
	border-radius: 40px;
	border-style: solid;
	float: left;
}

.button-exterior-gap{
	width: 40px;
	height: 30px;
	float: left;
}

.button-interior-gap{
	width: 10px;
	height: 30px;
	float: left;
}

.button-icon{
	width: 30px;
	height: 30px;
	background-size: 30px;
	float: left;
}

.button-text{
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: left;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* 正常浏览器 */
}

.button-all:hover{
	background-color: rgba(234, 0, 255, 0.5);
}

.footer{
	background-color: red;
	height: max(300vh, 1000px);
	background: center;
	background-image: url("../img/background/08.jpg");
	background-size: cover;
}

.sakura-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	z-index: -1;
  }
  
  .sakura {
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	bottom: -20px;
	animation: sakura-fall linear infinite;
  }
  
  @keyframes sakura-fall {
	0% {
	  transform: translate3d(0, -200%, 0);
	}
  
	100% {
	  transform: translate3d(0, 100%, 0);
	}
  }
/* 应用于电脑 */
@media screen and (min-width: 768px) {
	
	
}
  
/* 应用于手机 */
@media screen and (max-width: 767px) {
	body {
	  font-size: 14px;
	}
}

body::-webkit-scrollbar {
	margin: 0px;
	padding: 0px;
  	display: none;
}
/* 隐藏 IE、Edge 和 Firefox 的滚动条 */
body {
	margin: 0px;
	padding: 0px;
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
	cursor: url('../img/mousePointer/normal.cur'),default;
}